WSExample/wsdl/BindingStyleTest.wsdl

<definitions name="BindingStyleTest" targetNamespace="http://kema.com"
	xmlns:ns="http://kema.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://kema.com"
			elementFormDefault="qualified">
			<element name="testDocumentLiteral">
				<complexType>
					<sequence>
						<element name="id" type="xsd:int" />
						<element name="name" type="xsd:string" />
						<element name="action" type="xsd:string" xsi:nil="true" />
					</sequence>
				</complexType>
			</element>
			<element name="myDocumentResponse">
				<complexType />
			</element>
		</schema>
	</types>

	<message name="rpcLiteralRequest">
		<part name="id" type="xsd:int" />
		<part name="name" type="xsd:string" />
		<part name="action" type="xsd:string" xsi:nil="true" />
	</message>

	<message name="rpcEncodedRequest">
		<part name="id" type="xsd:int" />
		<part name="name" type="xsd:string" />
		<part name="action" type="xsd:string" xsi:nil="true" />
	</message>

	<message name="documentRequest">
		<part  name="parameters" element="ns:testDocumentLiteral"/>
	</message>

	<portType name="BindingStyleTestRpcPortType">
		<operation name="testRpcLiteral">
			<input message="ns:rpcLiteralRequest" />
		</operation>
		<operation name="testRpcEncoded">
			<input message="ns:rpcEncodedRequest" />
		</operation>
	</portType>

 
	<portType name="BindingStyleTestDocumentPortType">
		<operation name="testDocumentLiteral">
			<input message="ns:documentRequest" />
		</operation>
	</portType>

	<binding name="RpcBindingStyleTestSoapBinding" type="ns:BindingStyleTestRpcPortType">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="testRpcLiteral" >
			<input name="testRpcLiteral" >
				<soap:body use="literal" namespace="" parts="id name action"/>
			</input>
		</operation>
		<!--
		<operation name="testRpcEncoded">
			<input name="testRpcEncoded">
				<soap:body use="encoded" namespace="" parts="id name action"/>
			</input>
		</operation>
		-->
	</binding>


	<binding name="DocBindingStyleTestSoapBinding" type="ns:BindingStyleTestDocumentPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="testDocumentLiteral">
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>

	<service name="StyleTestsService">
		<documentation>Testing Wsdl style Service</documentation>
		<port name="RpcTestsPort" binding="ns:RpcBindingStyleTestSoapBinding">
			<soap:address location="http://localhost:8080/RpcTests" />
		</port>
		<port name="DocumentTestsPort" binding="ns:DocBindingStyleTestSoapBinding">
			<soap:address location="http://localhost:8080/DocTests" />
		</port>
	</service>

</definitions>
